body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background:#221449;
  color:white;
}

/* MAIN LAYOUT */
.main{
  display:flex;
  min-height:100vh;
}

/* LEFT PROFILE */
.profile{
  width:300px;
  background:#3c5154;
  padding:30px 20px;
  text-align:center;
  box-shadow:4px 0 20px rgba(0,0,0,0.4);
}

.profile img{
  width:150px;
  height:150px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #38bdf8;
  margin-bottom:15px;
}

.profile p{
  color:#cbd5e1;
  font-size:14px;
}

/* RIGHT BODY */
.body{
  flex:1;
  padding:40px;
}

.body h1{
  margin-bottom:20px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
  gap:30px;
}

/* LINK CARD */
.cardLink{
  text-decoration:none;
  color:white;
}

.card{
  background:#6dd1d1;
  padding:40px 20px;
  border-radius:18px;
  text-align:center;
  transition:0.3s;
  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  min-height:180px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.cardLink:hover .card{
  transform:translateY(-8px) scale(1.03);
  background:#334155;
}

.card h3{
  margin:15px 0;
  font-size:22px;
  color:#111827;
}
